@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }
@font-face {
    font-family: "Alegreya Sans";
    src: url("/fonts/AlegreyaSans-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Alegreya Sans";
    src: url("/fonts/AlegreyaSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url("/fonts/AlegreyaSans-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }
  
  .btn-loader {
    width: 30px;
    height: 30px;
    border: 4px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 